.contantForm {
    height: 50%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 30%;
    background-image: url('../images/helpcenter.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;

}



h2 {
    margin-top: 10px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}



button:hover {
    cursor: pointer;
}

.status {
    margin-top: 1rem;
    font-weight: bold;
}


p {
    font-size: 1.2rem;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.form-left {
    flex: 1;
}

.form-right {
    flex: 2;
    padding-left: 20px;
}

.contact-button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}